{% extends 'base.html' %}
{% load static %}

{% block hero %}
<section class="hero-section d-flex my-46 align-items-center justify-content-center text-center text-white">
  <div class="container">
    <div class="hero-content text-center text-white">
        <h1 class="hero-title">Where Will You Go Next?</h1>
        <p class="hero-subtitle">Explore top attractions and hidden gems across the globe</p>
        
        <!-- Search Bar -->
        <form class="search-bar mt-4 d-flex justify-content-center">
            <div class="search-wrapper d-flex align-items-center shadow-sm">
                <span class="search-icon ms-3">
                <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control border-0 shadow-none" placeholder="Places to go, cities to visit..." />
                <button type="submit" class="btn search-btn">Search</button>
            </div>
        </form>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section class="container my-5">
  <h2 class="text-center mb-4">Suggestions for You</h2>
  <!-- cards here -->
</section>

<section class="container my-5">
  <h2 class="text-center mb-4">Most Visited Places</h2>
  <!-- cards here -->
</section>

<section class="container my-5">
  <h2 class="text-center mb-4">Categories</h2>
  <div class="row text-center">
    <div class="col"><div class="p-3 border rounded shadow-sm">Parks</div></div>
    <div class="col"><div class="p-3 border rounded shadow-sm">Museums</div></div>
    <div class="col"><div class="p-3 border rounded shadow-sm">Nature</div></div>
    <div class="col"><div class="p-3 border rounded shadow-sm">Nightlife</div></div>
  </div>
</section>
{% endblock %}
